*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    background: url("../imagenes/fondo-1.png") no-repeat center;
    cursor: pointer;
}
.container{
    height: 400px; 
    width: 700px;
    border: 5px solid #fff;
    box-sizing: 3px 3px 10px #000;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin: 50px auto;
    cursor: pointer;
}
.page-title {
    margin-top: 0px;
    color: rgb(20, 134, 241);
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 5em;
}

.slide-container{
    height: 100%;
    width: 100%; 
    overflow: hidden;
    position: relative;
}
.overlay-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(20, 134, 241);
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
}
.overlay-text-small {
    font-size: .3em;
}
.overlay-text.visible {
	display: flex;
	animation: overlay-grow 500ms forwards;
}
.button1{
    background: rgb(78, 149, 241);
    width: 260px;
    height: 100px;
    color: white;
    border: 10px solid rgb(238, 59, 28);
    border-radius: 40px;
    box-shadow: 5px 5px rgb(252, 60, 27);
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    cursor: pointer;
}
#recargar{
    background: rgb(255, 255, 0);
    border-radius: 50%;
    border: 3px solid rgb(238, 59, 28);
    color: white;
    width: 80px;
    height: 80px;
}
#home{
    background: rgb(53, 135, 243);
    color: white;
    border: 3px solid rgb(6, 171, 236);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 15px;
    margin-left: 15px;
}
.fas{
    font-size: 50px;
}
.slide-container .slide{
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}
.slide-container .slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: image .5s linear;
}
.slide-container .slide .caption{
    position: absolute;
    width: 100%;
    font-size: 25px;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    border-top-left-radius:  50px;
    border-top-right-radius: 50px;
    font-weight: bold;
    animation:cap .4s linear;
}
@keyframes cap {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes image {
    0%{
        filter: blur(10px);
        transform: scale(2);
    }
    100%{
        filter: blur(0px);
        transform: scale(1);
    }
}
.slide-container .active{
    display: block;
}
#next, #prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50);
    border-radius: 50px;
    background: gold;
    border: 3px solid #fff;
    box-shadow: 0 0 0 4px #333 inset;
    height: 45px;
    width: 100px;
    line-height: 35px;
    font-size: 25px;
    text-align: center;
    color: #333;
    cursor: pointer;
    transition: .2s linear;
}
#letra-b{
    position: absolute;
    background: #FF6D00;
    z-index: 1;
}
#next:hover,
#prev:hover{
    background: #333;
    color: gold;
}
#next{
    right: -55px;
}
#prev{
    left: -55px;
}
#vertical{
    display: none;
}


@media all and (orientation: portrait){
    .container{
        display: none;
    }
    .page-title{
        display: none;
    }
    .button1{
        display: none;
    }
    #vertical{
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 1;
        background: url(../imagenes/vertical.png);
        background-size: cover;
        background-position: center;
        
    }
}
@media (max-width: 850px){
    .container{
        height: 300px; 
        width: 500px;
        margin: 0px auto;
    }
    .page-title{
        display: none;
    }
    .button1{
        width: 180px;
        height: 70px;
        font-size: 30px;
    }
    .overlay-text{
        font-size: 2em;
    }
    #home{
        width: 50px;
        height: 50px;
        margin-top: 5px;
      }
    .fas{
        font-size: 30px;
    }

}

