*{
    box-sizing: border-box;
}
body{
    background: url("../imagenes/fondofinal.fw.png") no-repeat center;
    height: 100%
}
.general{
    top: 5px;
    max-width: 865px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-basis: 33%;
    background: -webkit-linear-gradient(90deg, yellow 10%, orange 90%);
    background: -moz-linear-gradient(90deg, yellow 10%, orange 90%);
    background: -ms-linear-gradient(90deg, yellow 10%, orange 90%);
    background: -o-linear-gradient(90deg, yellow 10%, orange 90%);
    background: linear-gradient(90deg, yellow 10%, orange 90%);
    border-radius: 30px;
    border-color: rgb(0, 140, 255);
    border-width: 3px;
    border-style: solid;
    margin-bottom: 50px;
    
}
.texto{
    background-color: rgb(229, 255, 0);
}
.titulo{
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    margin-left: 35px;
    visibility: hidden;
}

#parrafo1{
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    
}
.parrafo{
    margin-left: 210px; 
    width: 50%;   
}
.derecha{
    margin-left: 105px;
}
#box1{
    margin-top: 0px;
    width: 400px;
}
#box2{
    width: 150px;
    margin-top: 20px;
}
#box3{
    background: url("../imagenes/globos.fw.png") no-repeat;
    width: 200px;
    height: 800px;
    margin-top: 10px;
}
#parrafo{
    text-align: justify;
    font-size: 24px;
}
#uno{
    left: 0px;
    color: red;
}
#parrafo2{
    top: 0px;
    text-align: center;
    border-color: blue;
    border-width: 2px;
    border-style: dashed;
    color: black;
    background: white;
    font-size: 20px;
    margin-bottom: 155px;
    margin-left: 50px;
    font-family: 'Raleway', sans-serif;
    
}
#home{
    background: rgb(53, 135, 243);
    color: white;
    border: 3px solid rgb(6, 171, 236);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.fas{
    font-size: 50px;
}

.container{
    display: flex;
    width: 50px;
    height: 350px;
    
}
.page-title {
    color: rgb(20, 134, 241);
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 5em;
    margin-top: 0px;
}
.form{
    padding: 0px 0px;
}
.form-control{
    width: 30px;
    margin-bottom: 0px;
    padding-bottom: 150px;
    position: relative;

}
.form-control input{
    border: 3px solid rgb(7, 134, 253);
    border-radius: 15px;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 3px; 
    width: 100%;
}
.form-control.success input{
    border-color: green;
}
.form-control.error input{
    border-color: red;
}


.form-control i{
    position: absolute;
    top: 7px;
    left: 35px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle{
    color: green;
    visibility: visible;
}
.form-control.error i.fa-times-circle{
    color: red;
    visibility: visible;
}
.form button{
    background: red;
    border: 3px solid rgb(29, 87, 245);
    border-radius: 5px;
    color: white;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (orientation: portrait){
    .general{
        display: none;
    }
    .page-title{
        display: none;
    }
    .button1{
        display: none;
    }
    #vertical{
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: url("../imagenes/vertical.png");
        background-size: cover;
        background-position: center;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}
@media (max-width: 850px){
    
    
    .titulo{
        visibility: visible;
    }
    .page-title{
        display: none;
    }
    .button1{
        width: 180px;
        height: 70px;
        font-size: 30px;
    }
    #home{
        width: 50px;
        height: 50px;
        margin-top: 5px;
      }
    .fas{
        font-size: 30px;
    }
    .parrafo{
        margin-left: 90px; 
        width: 80%;   
    }

}